#box-info {
    background-color: black;
    /* opacity: 0.6; */
    border: 5px solid black;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#box-info label {
    color: white;
}